<!DOCTYPE HTML>
<html lang="en" ng-app="olaApp">
    <head>
        <link rel="stylesheet" href="css/reset.css" media="all">
        <link rel="stylesheet" href="css/index.css" media="all">
        <link href='http://fonts.googleapis.com/css?family=Ubuntu:300' rel='stylesheet' type='text/css'>
        <title>Sessions - Online Lecture Aid</title>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/angular.min.js"></script>
        <script src="/js/angularModule.js"></script>
        <script src="/js/sessionController.js"></script>
        <script type="text/javascript"></script>
    </head>
    <body>
        <!--<div class="introheader outer">
            <div class="middle">
                <div class="inner">
                    <h1>Online Lecture Aid</h1>
                </div>
            </div>
        </div>-->
        <div id="maincontentcontainer" ng-controller="SessionCtrl">
            <div id="sidebarcontainer">
                <div class="sidebarheader">
                    <h2>Sessions</h2>
                </div>
                <div class="list">
                    <ul>
                        <li ng-class="getClass($index)" ng-click="listClick(session)" ng-repeat="session in sessionArray">{{session.name}}</li>
                    </ul>
                </div>
            </div>
            <div id="contentcontainer">
                <h1>Session Information</h1>
                <div>
                    <div class="contents">
                        <h2>{{selected.name}}</h2><br>
                        <p>{{selected.createDate}}</p>
                        <p>{{selected.numberofUsers}}</p>
                        <input class="minimal button" type="button" ng-show="clickedSession" ng-click="joinSession()" value="JOIN SESSION">
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
