<!DOCTYPE HTML>
<html lang="en" ng-app="olaApp">
    <head>
        <link rel="stylesheet" href="css/reset.css" media="all">
        <link href='http://fonts.googleapis.com/css?family=Ubuntu:300' rel='stylesheet' type='text/css'>
        <title>Online Lecture Aid</title>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/angular.min.js"></script>
        <script src="/js/angularModule.js"></script>
        <script src="/js/lectureController.js"></script>
        <script type="text/javascript"></script>
    </head>
    <body>
        <div class="main" ng-controller="LectureCtrl">
            <h1>Overview</h1>
            <form action="">
                <select ng-model="selectedSession" ng-change='requestQuestionArray()' ng-options="session.name for session in sessionArray">
                    <option value="">-- choose session --</option>
                </select>
            </form>
            <div>
                {{selectedSession.name}}<br>{{selectedSession.createDate}}
            </div>
            <div ng-repeat='question in selectedSession.questionArray'>
                {{question.name}}, {{question.score}}
            </div>
        </div>
    </body>
</html>
