<!DOCTYPE HTML>
<html lang="en" ng-app="olaApp">
    <head>
        <link rel="stylesheet" href="css/student.css" media="all">
        <link href='http://fonts.googleapis.com/css?family=Ubuntu:300' rel='stylesheet' type='text/css'>
        <title>Online Lecture Aid</title>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/angular.min.js"></script>
        <script src="/js/angularModule.js"></script>
        <script src="/js/questionController.js"></script>
        <script type="text/javascript"></script>
    </head>
    <body>
        <div id="maincontainer" ng-controller="QuestionCtrl">
            <div id="maincontent">
                <div class="section group">
                    <h2>Questions?</h2>
                </div>
                <div class="section group">
                    <div class="col span_1_of_10">Score</div>
                    <div class="col span_1_of_10"></div>
                    <div class="col span_8_of_10">Question</div>
                </div>
                <div class="section group" ng-repeat="question in questions">
                    <div class="col span_1_of_10">{{question.score}}</div>
                    <div class="col span_1_of_10">
                        <input class="btn_vote_up" type="button" ng-click="vote($index, 1)" ng-disabled="clicked">
                        <input class="btn_vote_down" type="button" ng-click="vote($index, -1)" ng-disabled="clicked">
                    </div>
                    <div class="col span_8_of_10">{{question.question}}</div>
                </div>
                <div class="section group">
                    <form ng-submit="send()">
                        <input class="col span_4_of_5" type="text" ng-model="question" placeholder="Ask a Question">
                        <input id="submitButton" class="col span_1_of_5" type="submit" value="Submit Question">
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>

<!--
<table class="table">
    <thead>
        <tr>
            <th id="firstcol" class="col span_1_of_10">Score</th>
            <th class="col span_1_of_10"></th>
            <th class="col span_8_of_10">Question</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="question in questions">
            <td id="firstcol2" >{{question.score}}</td>
            <td>
                <input class="btn_vote_up" type="button" ng-click="vote($index, 1, this)" ng-disabled="clicked">
                <input class="btn_vote_down" type="button" ng-click="vote($index, -1, this)" ng-disabled="clicked">
            </td>
            </input>
        </td>
        <td>{{question.question}}</td>
    </tr>
</tbody>
                </table>
                -->
