/* UpperHalf */
.introheader {
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    background-color: black;
}

.outer {
    display: table;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

/* LowerHalf */
.main {
    height: 100%;
    padding-left: 5%;
    overflow: hidden;
}

.sidebarcontainer {
    height: 70%;
    width: 20%;
    padding-top: 10%;
    float: left;
    text-align: center;
}

.contentcontainer {
    height: 70%;
    width: 75%;
    float: left;
    padding-top: 10%;
    padding-left: 5%;
}

.list {
    overflow: scroll;
    display: inline-block;
    width: 150px;
    height: 350px;
}

ul :hover {
    background-color: #3787CD;
    color: #FFF;
}

.active {
    background-color: #3787CD;
    color: #FFF;
}

li {
    padding: 5%;
    border-radius: 3px;
    border: 1px solid #FFF;
}

//*1em mplus-2p-light-sub,Helvetica,arial,freesans,clean,sans-serif
*/
